body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Content/Images1/Blinyl_Tile.jpg.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px; 
    background-color: floralwhite;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*this is for all images*/
img {
    max-width: 20%;
    height: auto;
}

.blinyl-flag {
    max-width: 40%;
    height: auto;
}

/*Bootstrap overrides*/
/*change navbar color*/
.navbar-inverse {
    background-color: #ed88ff;
    border-color: #ed88ff;
}
/*change navbar link color*/
.navbar-inverse .navbar-nav > li > a {
    color: azure;
}
/*change navbar BLINYL color*/
.navbar-inverse .navbar-brand {
    color: #686AD7
}

/*Learn more btn*/
.btn-primary {
    color: #fff;
    background-color: #686AD7;
    border-color: #f76aff;
}

.btn-default {
    color: #fff;
    background-color: #686AD7;
    border-color: #f76aff;
}

/*links e.g., Create New*/
a:hover,
a:focus {
    color: #BCFF6A;    
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fbdcec;
}

h1 {
    font-family: Fredoka One, cursive;    
}

/*
body.
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6*/