<div class="text-center">
    @{
        ViewBag.Title = "About";

    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <img src="~/Content/Images1/Blinyl_Fpk.png" class="blinyl-flag" alt="Pink Blinyl flag" />
</div>
<p>
    <img src="~/Content/Images1/gr_uni.jpg" class="center" style="border-radius:50%;" />
    <img src="~/Content/Images1/p_uni.jpg" class="center" style="border-radius:50%;" />
    <img src="~/Content/Images1/xm_uni.jpg" class="center" style="border-radius:50%;" />
</p>

<h5>Hello and welcome fellow blind box vinyl art collector! </h5>
<p>
    Blinyl is a MVC application that I created for my final software development project. 
    BLINYL is a word play on the words "blind box vinyl" which was suggested by a friend and fellow vinyl art collector.<br /><br />
    If you are into collecting blind box vinyl art toys and need a place to keep track of you collection, then Blinyl might be a useful tool for you to use. This database will house collection lists of your blind box vinyl toys. <br /><br />
    Please note, I know there are many forms of collectable vinyl art toys (e.g., Funko Pop), but this is database is currently only for vinyl art toys that come in blind boxes.</p>
<br />
<!-- image of me -->
<p>
    <div class="text-center">
        <h4>Keep collecting my friend!</h4> <img src="~/Content/Images1/Toki.png" />
    </div>
</p>
