@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello and welcome! Blinyl is a MVC application that I created for my final software development project. 
    BLINYL is a word play on the words "blind box vinyl." This database will house blind box vinyl toys, 
    specifically collectable vinyl art toys. There are many forms of collectable vinyl art toys (e.g., Funko Pop),
    but this is only for blind boxes.</p>
