@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello and welcome! 
    <br /><br />

    Blinyl is a MVC application that I created for my final software development project. 
    BLINYL is a word play on the words "blind box vinyl" which was suggested by a friend and fellow vinyl art collector.<br /><br />
    If you are into collecting blind box vinyl art toys and need a place to keep track of you collection, then Blinyl might be a useful tool for you to use. This database will house collection lists of your blind box vinyl toys. <br /><br />
    Please note, I know there are many forms of collectable vinyl art toys (e.g., Funko Pop), but this is database is curently only for vinyl art toys that come in blind boxes.</p>
<br />
<p><h1>ENJOY!</h1></p>
<!-- image of me -->
<img src="~/Content/Images1/jcblinyl.png" />
