<div class="text-center">
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>ViewBag.Message</h3>-->
    <img src="~/Content/Images1/Blinyl_Fprpl.png" class="blinyl-flag" alt="Purple Blinyl flag" />
    <br />
    <h5>We'd love to hear from you!</h5>
    <br />
    <address>
        111 Blinyl Way<br />
        Indianapolis, IN 46260<br />
        <abbr title="Phone">P:</abbr>
        111.222.3333
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@blinyl.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@blinyl.com</a>
    </address>
</div>