<!--{ add at symbol
    ViewBag.Title = "Home Page";
}-->

<div class="jumbotron">
    <h1>Hello! Welcome to: <a href="~/Home/About"><img src="~/Content/Images1/BlinylLogoTrans.png" class="img-blinyl-logo"/></a></h1>
    <!--<p class="lead">Home for Blind Box Vinyl Art toy collectors! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create...</h2>
        <p>
            Register as a Blinyl user and add your collect list. You may also create wish lists for vinyl art toys you don't have in your collection. 
        </p>                                 <!-- this needs to be like to creating wishlist/collection-->
        <p><a class="btn btn-default" href="~/Toy/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blinyls...</h2>
        <p>See the list of blind boxes currently in our database. You also have the ablility to add blind boxes/vinyl art toys that are not in the database.</p>
        <p><a class="btn btn-default" href="~/Toy">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Uhm, wut..?</h2>
        <p>What is BLINYL? Meet the creator and read how BLINYL got started.</p>                        
        <br /><br /><br />
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>