@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to BLINYL!</h1>
    <p class="lead">Blinyl is where blind box vinyl toy collectors can keep lists of their collections. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a COLLECTION or WISH LIST</h2>
        <p>
            Follow this link to add a new collection list or wish list
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blind Boxes</h2>
        <p>List of blind box toys in this database. You can add blind boxes that are not in the database.</p>
        <p><a class="btn btn-default" href="~/Toy">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our story</h2>
        <p>How BLINYL got started</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>